html,
body,
.application {
    height: 100%;
    min-height: 100%;

}

body {
    background-color: black;
    color: #fff;
    font-family: 'Rubik', sans-serif !important;
}

.sidebar {
    height: 100%;
    border-right: 1px solid #fff;
}

.companyDetails {
    height: 100%;
    padding: 1.75rem;
    border-left: 1px solid #fff;

}

.labelText {
    text-transform: uppercase;
    color: grey;
    margin: 8px 0px 8px 0px;

}

.companyName {
    margin: 8px 0px 8px 0px;
    border-bottom: 5px solid #0984e3;
}

.leftPanel {
    margin: 8px 0px 24px 0px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border: 3px solid #fff;
    background-color: #000;
}

.nav-pills .nav-link {
    border: 1px solid rgb(206, 206, 206);
    background-color: #000;
    color: rgb(206, 206, 206);
}

hr {
    margin-block-start: 0em;
    margin-block-end: 0em;
    border-top: 1px solid white;
    margin: 0px -28px 0px -27px;
}

ul {
    list-style-type: none;
}

.nav-tabs .nav-link.active {
    color: #fff;
}

.nav-tabs .nav-link {
    color: rgb(255, 255, 255, 0.4);
}

li {
    margin: 0.3em 0em 0.3em 0em;
}

.scatterplot_svg .axis .domain,
.scatterplot_svg .axis line {
    display: none;

}

.nopadding {
    padding: 0
}

#slider-time .tick {
    display: none;
}

.scatterplot_svg .axis text {
    font-size: 1rem;
}

.scatterplot_legend,
.acquisition_legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.scatterplot_text_legend,
.acquisition_text_legend {
    padding-left: 0.5rem;
}

.legend_element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.scatterplot_legend_shape,
.scatterplot_checkbox_svg,
.acquisition_checkbox_svg,
.acquisition_legend_shape {
    flex-shrink: 0;
}

.tt-open {
    background-color: black;
    padding-left: 0.2rem;
    border: #fff;
    border: 1px;
}

.none {
    display: none;
}

.label-investment-val {
    padding-top: 0.3rem;
    font-family: 'Montserrat',
        sans-serif;
    font-size: small;
    font-weight: bold;

}

.input-investment-val {
    border: 0.3rem solid white;
    border-radius: 0.3rem;
}

#searchbox-investment {
    color: white;
    border: 0.1rem solid white;
    background: black;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
}


.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg_selected {
    background-color: white
}

.left-sidebar,
.right-sidebar,
.main {
    height: 100%;
    overflow: auto
}

.mainbar {
    height: 100%;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}

.search-investors {
    height: 70%;
    overflow: auto
}

.legends {
    height: 20%;
    overflow: auto
}