.scatterplot {
    position: absolute;
    left: 295px;
}

.visualization {
    position: absolute;
    width: 1440px;
}

.scatterplot_svg {
    background: black;
}

.axis {
    color: white;
}
.scatterplot_svg .axis .domain,
.scatterplot_svg .axis line {
    display: none;

}

.sidebar {
    height: 900px;
    background: black;
    width: 295px;
    position: absolute;
    border-right-color: white;
    border-right: solid;
}