.sidebar {
    padding: 42px;
    border-right: 1px solid #333333;
}

.companyDetails {
    padding: 42px;
    border-left: 1px solid #333333;

}

.labelText {
    text-transform: uppercase;
    color: grey;
    margin: 8px 0px 8px 0px;

}

.companyName {
    margin: 8px 0px 8px 0px;
    border-bottom: 5px solid #0984e3;
}

.leftPanel {
    margin: 8px 0px 24px 0px;
}

.filterGroup {

}

.custom-control-input:checked~.custom-control-indicator{
    color:white;
    background-color:red;
    }